.custom .demo-card-square {width: 100%;}
.custom .mdl-card__supporting-text {padding-bottom: 0;}
.custom .avartar-container {padding: 16px;}
.custom .mdl-list__item-secondary-content {position: relative;}